<form *ngIf="refreshFlag" [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <div class="text-center"><button type="submit" class="btn btn-primary submit-button text-center" [disabled]="!form.valid">Submit</button>&nbsp;<button (click)="previewData()" *ngIf="submitFlag && !previewFlag" type="button" class="btn btn-primary submit-button text-center">&nbsp;Preview</button><button (click)="close()" *ngIf="submitFlag && previewFlag" type="button" class="btn btn-primary submit-button text-center">&nbsp;Close Preview</button></div>
</form>
<hr>

<div class="preview-content" *ngIf="submitFlag && previewFlag">
  <ul class="list-group" *ngFor="let item of previewDataList; index as i;">
    <li class="list-group-item">{{item.key}} : <strong>{{item.value.radio}}</strong>
      <hr>
      <div style="padding-left: 100px;" class="otehr-list">{{item.outerKey}}:<strong>{{item.outerValue}}</strong></div>
      <li>
  </ul>
</div>
