div.custom-control.custom-radio {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  margin-right: 10px;
}

.list-group{
  list-style-type: none;
}


.card-header{
    margin: 0 !important;
}
